html {
  font-family: 'Short Stack', cursive;
}

body, main, .sidebar, .game-board-container {
  display: flex;
}

body, .game-board-container {
  flex-direction: row;
}

main, .sidebar {
  flex-direction: column;
  align-items: center;
}

body {
  margin: auto;
  height: 100vh;
  overflow: hidden;
  font-size: 2.5em;
}

main {
  background-color: white;
  flex: 2.5;
  justify-content: center;
  font-size: 1.5em;
}

button {
  margin-top: 50px;
  background-color: yellow;
}

.turns {
  padding: 10%;
}

.game-board-container, .sidebar {
  padding: 2%;
}

.game-board {
  table-layout: fixed;
  border-collapse: collapse;
}

.game-board-cell {
  height: 100px;
  width: 100px;
  text-align: center;
}

.horizontal {
  border-left: 10px solid black;
  border-right: 10px solid black;
}

.vertical {
  border-top: 10px solid black;
}

.sidebar {
  flex: 0.75;
  height: 100%;
}

.basic {
  background-image: linear-gradient(
    to bottom,
    yellow 33%,
    red
  );
}

.rainbow {
  background-image: linear-gradient(
    to bottom,
    yellow 15%,
    green,
    blue,
    purple,
    red,
    hotpink
  );
}

.orange {
  background-color: rgb(254, 181, 46);
}

.disabled {
  pointer-events: none;
}
