html {
  font-family: 'Short Stack', cursive;
}

body {
  display: flex;
  flex-direction: row;
  margin: auto;
  height: 93vh;
  overflow: hidden;
  font-size: 2.5em;
}

main {
  background-color: white;
  flex: 2.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.turns {
  padding: 10%;
}

.game-board-container {
  display: flex;
  flex-direction: row;
  padding: 2%;
}

.game-board {
  table-layout: fixed;
  border-collapse: collapse;
}

.game-board-cell {
  height: 100px;
  width: 100px;
  text-align: center;
}

#cell2, #cell5, #cell8 {
  border-left: 10px solid black;
  border-right: 10px solid black;
}

#cell4, #cell5, #cell6, #cell7, #cell8, #cell9 {
  border-top: 10px solid black;
}

.sidebar {
  /* background-color: rgb(251, 251, 152); */
  background-image: linear-gradient(
    to bottom,
    yellow 33%,
    red
  );
  flex: 0.75;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  height: 100%;
}

.disabled {
  pointer-events: none;
}
